.gridBox {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  z-index: 0;
  pointer-events: none;
  user-select: none;
  height: 100%;
}
.gridBox i {
  box-shadow: inset -1px 0 0 var(--Border);
  min-height: 100vh;
  height: 100%;
  font-style: normal;
  display: block;
}
@media screen and (max-width: 1024px) {
  .gridBox {
    grid-template-columns: repeat(2, 1fr);
    opacity: 0.6;
  }
}
@media screen and (max-width: 640px) {
  .gridBox {
    display: none;
  }
}
